.main-content-layout {
    padding: 24px;
    margin: 16px 16px 16px 0px;
  }
  .sidebar-content-layout {
    margin: 16px 16px;
  }
  
  @media (max-width: 768px) {
    .main-content-layout {
      padding: 15px;
      margin: 5px 5px 5px 0px;
    }
    .sidebar-content-layout {
      margin: 5px 5px;
    }
  }